body{
  background-color: rgb(185, 146, 185);
  font-family: Georgia;
}


.top-heading{
  color: #3c3c6d;
  background-color: blanchedalmond;
  margin: 10px;
  padding: 10px; 10px; 20px; 10px;
  text-align: center;
  font-size: 16px;
}

.blog-header {color: #3c3c6d;
  background-color: blanchedalmond;
  margin: 10px; 
  padding: 10px; 
  text-align: left;
  font-size: 12px;

}

@media (max width: 200px){
.blog-header {font-size: 10px;
}}

.small-heading{
  color: #3c3c6d;
  background-color: blanchedalmond;
  margin: 0px; 
  padding: 0px; 
  text-align: center;
  font-size: 14px;

}


h2{
  color: #3c3c6d;
  background-color: none;
  margin: 0px;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  
}

 .div container{color: #3c3c6d;
  background-color: red;
  padding: 10px;
  text-align: left;
  font-size: 14px}

  section#left{background-color:blanchedalmond;
    width: 40%;
  margin: 00px;
float: left;}

  section#right{
    width: 40%; 
    margin 00px;
    float: right;
  }
  
  .list {
    text-align: center; 
    list-style-position:inside; 

}

p {color:#3c3c6d;
  font-size: 14px;
}