body{
  background-color: rgb(185, 146, 185);
  font-family: Georgia;
}


h1{
  color: #3c3c6d;
  background-color: blanchedalmond;
  margin: 10px; 10px; 10px; 10px;
  padding: 10px; 10px; 10px; 10px;
  text-align: center;

}
.blog-header{color: #3c3c6d;
  background-color: blanchedalmond;
  margin: 10px; 10px; 10px; 10px;
  padding: 10px; 10px; 10px; 10px;
  text-align: left;
  font-size: 14px;

}

@media (max width: 200px){
.blog-header {font-size: 10px;
}}

.small-heading{
  color: #3c3c6d;
  background-color: blanchedalmond;
  margin: 0px; 0px; 0px; 0px;
  padding: 0px; 0px; 0px; 0px;
  text-align: center;
  font-size: 14px;

}


h2 {
  color: #3c3c6d;
  background-color: none;
  margin: 0px;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  
}
@media (max-height: 800px){ 
  p {
  font-size: 10px

.div container{color: #3c3c6d;
  background-color: red;
  margin: 0px;
  padding: 10px;
  text-align: left;
  font-size: 14px}@media (max-height: 800px){ 
    p {
    font-size: 10px

  section#left{background-color:blanchedalmond;
    width: 40%;
  margin: 00px;
float: left;}

  section#right{
    width: 40%; 
    margin 00px;
    float: right;
  }
  
  .list {
    text-align: center; 
    list-style-position:inside; 

}
.main-paragraph{
  font-size: 14px;
  font-color: white;
}